<div class="support-page-container">
  <div class="support-page-header">
    <div class="heading">SUPPORT</div>
  </div>
  <div class="support-page-body">
    <div class="support-left">
      <div class="collapse-all-menu">
        <a>Collapse All</a>
      </div>
      <div class="side-menu">
        <nav class="navbar navbar-default" role="navigation">
          <!-- Brand and toggle get grouped for better mobile display -->
          <!-- Main Menu -->
          <div class="side-menu-container">
            <ul class="nav navbar-nav">
              <li class="panel panel-default" id="dropdown">
                <a data-toggle="collapse" href="#dropdown-lvl1" aria-expanded="true">Orion Platform</a>
                <!-- Dropdown level 1 -->
                <div id="dropdown-lvl1" class="panel-collapse collapse in" aria-expanded="true">
                  <div class="panel-body">
                    <ul class="nav navbar-nav">
                      <li>
                        <a>Hot Topick</a>
                      </li>
                      <li>
                        <a>Documentation</a>
                      </li>
                      <!-- Dropdown level 2 -->
                      <li class="panel panel-default" id="dropdown">
                        <a data-toggle="collapse" href="#dropdown-lvl2" aria-expanded="true">
                          NPM Administrator Guide
                        </a>
                        <div id="dropdown-lvl2" class="panel-collapse collapse in" aria-expanded="true">
                          <div class="panel-body">
                            <ul class="nav navbar-nav">
                              <li>
                                <a class="sub">Troubleshooting environmental issues with Performance Analysis dashboards</a>
                              </li>
                            </ul>
                          </div>
                        </div>
                      </li>
                      <li class="panel panel-default" id="dropdown">
                        <a data-toggle="collapse" href="#dropdown-lvl2">
                          NPM Release Notes
                        </a>
                        <div id="dropdown-lvl2" class="panel-collapse collapse">
                          <div class="panel-body">
                            <ul class="nav navbar-nav">
                              <li>
                                <a href="" class="sub">Troubleshooting environmental issues with Performance Analysis dashboards</a>
                              </li>
                            </ul>
                          </div>
                        </div>
                      </li>
                    </ul>
                  </div>
                </div>
              </li>

              <li>
                <a>IP Address Manager (IPAM)</a>
              </li>
              <li>
                <a>Network Performance Monitor (NPM)</a>
              </li>
              <li>
                <a>VoIP & Network Quality Manager (VNQM)</a>
              </li>
            </ul>
          </div>
          <!-- /.navbar-collapse -->
        </nav>
      </div>
    </div>
    <div class="support-right">
      <div class="container-fluid">
        <div class="content-header">
          <div class="content-title">Troubleshooting environmental issues with Performance Analysis dashboards</div>
          <div class="content-update">Updated: September 13, 2017</div>
        </div>
        <div class="content-body">
          <p>Create analysis projects with the Performance Analysis (PerfStack™) dashboard. Analysis projects visually correlate
            time series data, both historical and current, from multiple SolarWinds products and entity types in a single
            view. This allows you to:
          </p>
          <br>
          <ul>
            <li>Troubleshoot issues in real-time.</li>
            <li>Create ad-hoc reports.</li>
            <li>Identify root causes of intermittent issues. </li>
            <li>Make data-driven decisions on infrastructure changes.</li>
          </ul>
          <br>
          <p>
            Drag and drop performance metrics, events, and log data from multiple device types to a chart to perform deep analysis of
            what was going on in your environment when the issue occurred, including real-time polling for issues you're
            experiencing now. You can mix and match metrics from data collected across multiple SolarWinds products for both
            broad and in-depth insight to your infrastructure.
          </p>
          <p>For example, you could identify an issue in your application that causes disk I/O to spike and slowdowns if you
            collect SRM and SAM data. After your project is built, share the troubleshooting project with other members of
            your team for remediation.</p>
          <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore
            magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd
            gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing
            elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At
            vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est
            Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor
            invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores
            et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
          </p>
          <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore
            magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd
            gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing
            elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At
            vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est
            Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor
            invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores
            et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
          </p>
          <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore
            magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd
            gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing
            elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At
            vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est
            Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor
            invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores
            et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
          </p>
          <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore
            magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd
            gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing
            elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At
            vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est
            Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor
            invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores
            et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>