@import "../../../common/variables";


// specific style
.firstDivision {
    border-radius: 8px 8px 0 0;
}

.lastDivision {
    border-right: none;
    border-radius: 0 0 8px 8px;
    padding: 10px 12px 10px 15px;
}

.site-info {
    background-color: $white;
    display: inline-flex;
    flex-direction: column;
    box-shadow: 0px 2px 10px $doveGray;
    font-size: 12px;
    font-weight: $font-weight-6;
    border-radius: 4px;
    height: auto;
    width:auto;
}
.first-item {
    border-radius: 10px;
}


@media only screen
and (min-device-width : 375px) and (max-device-width : 667px) 
and (orientation : portrait) {
    .site-info {
        background-color: $white;
    }
}
