.spinner-container {
    position: fixed;
    z-index: 99999;
    background-color: rgba(169, 169, 169, .3);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 100%;
    min-height: 100vh;
}
.spinner-item {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
