<!-- Alert Modal -->
<div class="alert-dialog-popup" *ngIf="showAlertModal">
	<div class="alert-dialog">

		<div class="alert-content">
			<div class="alert-header">
				<span class="alert-title">{{ modalHeading }}</span>
			</div>
			<div class="alert-body">
				<div class="alertImage">
					<img class="modified-error-image" src="{{ modalStatusIcon }}" alt="{{ alertImage }}" />
				</div>
			</div>
		</div>

		<div class="errorText">
			<p>{{ modalBody }}</p>
		</div>

		<div class="alert-footer">
			<button type="button" class="btn ok-btn" (click)="closeDialog()">
				{{ 'Alert.okBtn' | translate }}
			</button>
		</div>

	</div>
</div>
